/PGCamerasComparison-ds.aux
/PGCamerasComparison-ds.bbl
/PGCamerasComparison-ds.blg
/PGCamerasComparison-ds.log
/PGCamerasComparison-ds.out
/PGCamerasComparison-ds.pdf
/PGCamerasComparison-ds.toc
/PGCamerasComparison-et.aux
/PGCamerasComparison-et.bbl
/PGCamerasComparison-et.blg
/PGCamerasComparison-et.log
/PGCamerasComparison-et.out
/PGCamerasComparison.aux
/PGCamerasComparison.bbl
/PGCamerasComparison.blg
/PGCamerasComparison.log
/PGCamerasComparison.out
/PGCamerasComparison.toc
/auto/PGCamerasComparison-ds.el
